@{
    Layout = "~/Views/Shared/Ajustes_Layout.cshtml";
    ViewData["Title"] = "Detalle";
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Crear Detalle de Curso</h1>
    <div class="row">
        <div class="col-xl-6 col-md-6">
            <div class="card bg-warning text-white mb-4">
                <div class="card-body">
                    <strong>Contenido del curso</strong>
                    <p>
                        Eligue un curso y añade o edita el contenido del curso,
                        el contenido del curso es mejor dicho, el silabo del curso que sera lo que el estudiante estara interesado
                        esta seccion se ira subiendo conforme se va desarrollando el curso.
                    </p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/Docente/Contenido">Agregar</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">
                    <strong>¿Que aprenderás? ¿Que necesitas saber?</strong>
                    <p>
                        Eligue un curso y añade el aprendizaje y los requisitos para el curso,
                        o lo que se espera aprender finalizando el curso diriguido especialmente a los estudiantes
                        y compradores del curso, buscando y tratando de cumplir sus expectativas.
                    </p>
                </div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" href="/Docente/Aprendizaje">Agregar</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
