
@{
    ViewData["Title"] = "Aprendizaje";
    Layout = "~/Views/Shared/Ajustes_Layout.cshtml";
}

<div class="container-fluid px-4">
    <h2 class="mt-4">Agregar requisito del Curso</h2>
    <form action="/docente/Requisito" enctype="multipart/form-data" class="col-12" method="post">
        <div class="mb-3">
            <label class="form-label" for="IdCurso">Selecciona un curso</label>
            <select name="IdCurso" onchange="cargarApp()" class="form-control" required>
                <option value="">-- Selecciona un curso --</option>
                @foreach (var item in ViewBag.Cursos)
                {
                    <option value="@item.Id">@item.Nombre</option>
                }
            </select>
            <p class="alert-danger">@Html.ValidationMessage("IdCurso")</p>
        </div>

        <div class="mb-3">
            <label class="form-label" for="Requisito">Agregar un requisito al curso</label>
            <input type="text" class="form-control" placeholder="Requisito" name="Requisito" required />
            <p class="alert-danger">@Html.ValidationMessage("Requisito")</p>
        </div>

        <button type="submit" class="btn btn-success"><i class="fas fa-save"></i> Guardar</button>
        <a class="btn btn-danger" href="/ajustes/tablero">Cancelar</a>
    </form>
        <div id="aprendizajes">
    </div>
</div>
