@{
    ViewData["Title"] = "Políticas de Privacidad";
}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3"> Acerca de la privacidad</h6>
            <h1 class="mb-5">Política de Privacidad</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <a href="/home/TerCon"><i class="fas fa-book-reader text-white"></i></a>
                    </div>
                    <div class="ms-3">
                        <a href="/home/TerCon"><h5 class="text-primary">Términos y Condiciones</h5></a>
                        <p class="mb-0">incvirtual@gmail.com</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <a href="/home/PoliPri"><i class="fas fa-user-shield text-white"></i></a>
                    </div>
                    <div class="ms-3">
                        <a href="/home/PoliPri"><h5 class="text-primary">Política de Privacidad</h5></a>
                        <p class="mb-0">(+51) 976930807</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="mb-4">
                    Recopilamos determinados datos del usuario directamente, como información que este
                    introduce por sí mismo, datos sobre su consumo de contenido y Información personal.
                    También recopilamos algunos datos de
                    forma automática, como información sobre el dispositivo del usuario y las partes de
                    nuestros Servicios con las que el usuario interactúa o que pasa tiempo utilizando.

                    <br />
                    <br />
                    Cuando hablamos de "Información personal" en esta Política de privacidad, nos referimos 
                    a datos ingresados por el mismo usario, ya sea al momento de crear una cuenta o comunicandose con el docente.
                    <br />
                    <br />
                    ¿Como usamos tu información personal?
                    <br />
                    <br />
                    Utilizamos la Información de pedido de llevar un curso de pago
                    realizado a través del Sitio web (incluido el procesamiento de su información de pago y sus datos
                    ). Además, 
                    utilizamos esta información a través de la herramienta chatbox de 
                    <a href="https://www.cliengo.com/?gclid=Cj0KCQjw-daUBhCIARIsALbkjSZP3lxfBXujPaqU-t3svoZYe6Wsb4eYrUaOGGhuc8KJ0p8awqmeGPMaAoAZEALw_wcB&gclsrc=aw.ds">Cliengo</a>  
                    para que el usuario (estudiante) se comunique con el profesor y haga sus consultas acerca de las clases.
</div>
        </div>
    </div>
</div>
<!-- Contact End -->
