@{
    ViewData["Title"] = "Términos y Condiciones";
}
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
</head>

<!-- Contact Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Información que debes tener en cuenta</h6>
            <h1 class="mb-5">Términos y Condiciones</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <a href="/home/TerCon"><i class="fas fa-book-reader text-white"></i></a>
                    </div>
                    <div class="ms-3">
                        <a href="/home/TerCon"><h5 class="text-primary">Términos y Condiciones</h5></a>
                        <p class="mb-0">incvirtual2022@gmail.com</p>
                    </div>
                </div>
                <div class="d-flex align-items-center mb-3">
                    <div class="d-flex align-items-center justify-content-center flex-shrink-0 bg-primary" style="width: 50px; height: 50px;">
                        <a href="/home/PoliPri"><i class="fas fa-user-shield text-white"></i></a>
                    </div>
                    <div class="ms-3">
                        <a href="/home/PoliPri"><h5 class="text-primary">Política de Privacidad</h5></a>
                        <p class="mb-0">(+51) 976930807</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <p class="mb-4">
                    Bienvenido a InclusiónVirtual. Nos complace ofrecerle acceso a nuestro sistema web de cursos online para
                    el aprendizaje en programación (como se define más abajo), sujeto a estos términos y condiciones
                    (los "Términos de uso del sistema web") y a la <a href="/home/PoliPri">Política de Privacidad</a> correspondiente de
                    <a href="https://inclusionvirtual.azurewebsites.net/">InclusiónVirtual.net</a>. Al acceder y utilizar
                    el sistema web, usted expresa su consentimiento, acuerdo y entendimiento de los Términos de uso del sistema web y la Política
                    de Privacidad. Si no está de acuerdo con los Términos del sitio web o la Política de Privacidad, no crear cuenta.
                </p>
                <h5>Términos de uso del sistema web <a href="https://inclusionvirtual.azurewebsites.net/">InclusiónVirtual.net</a></h5>

                <p class="mb-4">
                    <ul>
                        <li>
                            Al aceptar estos Términos de Servicio, usted declara que tiene al menos la mayoría de edad en su estado o provincia de
                            residencia, quedando entendido.
                            Sin embargo, que si fuera menor de 18 años, su padre, tutor legal o profesor de su Universidad u/o Instituto puede aceptarlos en su nombre.
                        </li>
                        <li>
                            Para llevar un curso en nuestro Sistema Web requiere que registre una cuenta, esto podría requerir que proporcione información sobre usted, como nombre,
                            apellidos y dirección de correo electrónico.
                        </li>
                        <li>
                            Nos reservamos el derecho a realizar actualizaciones periódicas del Sistema Web, con o sin previo aviso.
                        </li>
                        <li>
                            Nos reservamos el derecho, a nuestra discreción, de cambiar estos Términos de Servicio en cualquier momento,
                            sin previo aviso.
                        </li>
                        <li>
                            En el caso de uso para fines personales y comerciales debe
                            comunicarse con nosotros <a href="https://inclusionvirtual.azurewebsites.net/">InclusiónVirtual.</a>
                        </li>
                    </ul>
                </p>

                <h5>Condiciones <a href="https://inclusionvirtual.azurewebsites.net/">InclusiónVirtual.net</a></h5>
                <p class="mb-4">
                    Usted acepta no duplicar, copiar, vender, revender ni explotar ninguna parte del Servicio, 
                    el uso del Servicio o el acceso al Servicio o cualquier contacto en el sitio web a través del cual se 
                    proporciona el servicio, sin nuestro permiso expresado por escrito.
                    <br />
                </p>

            </div>
        </div>
    </div>
</div>
<!-- Contact End -->
